@{
    ViewData["Title"] = "Rebel Home Base";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rebel Command Online!</h1>
    <p>The Galactic Empire is a galactic government of tyranny. They rule over those who can't stand for themselves with an iron fist. And with their cruel 
    standards for the underpriviledged races and people of the galaxy so few have the bravery to fight. At least that's what you may think, but there are more of us than 
    you know. We are the Rebel Alliance! We will restore the Republic and bring freedom and justice to all corners of the galaxy.</p>
</div>
